.books {
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  list-style-type: none;
  margin-top: auto;
  overflow-x: hidden;
  height: 250px;
  width: 250px;
}
.books li {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin: .05em;
  max-height: 41px;
  height: 2.5em;
  flex: 1 0 auto;
}
.books li a{
  display: block;
  padding: .6em 0 .3em 0.5em;
  text-align: left;
}
.books li:hover {
  color: #607D8B;
}
.books a {
  color: #BC8F8F;
  text-decoration: none;
  position: relative;
}
.books a:hover {
  color:#607D8B;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
  box-shadow:0px 0px 2px white inset;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color:#BC8F8F;
  box-shadow:0px 1px 1px #fff inset;
}
::-webkit-scrollbar{
  width: 9px;
  height: 9px;
}

.books .wrapper{
  background-color: #DEB887;
  height: 100%;
  border-radius: 4px;
}
.books li:hover .wrapper{
  cursor: pointer;
  transform: translateX(0.5em);
}
.books li:nth-child(odd) .wrapper {
  background-color: #FFDEAD;
}
.books li:nth-child(even) .wrapper {
  background-color: #FFE4C4;
}
