<div *ngIf="book">
  <h2>{{book.name | uppercase}}</h2>
  <div class = "split"><span>id: </span>{{book.id}}</div>
  <div class = "split"> <span>Название произведения: </span>
      <input class="form-control" [(ngModel)]="book.name" placeholder="name" size = "20">
  </div>
  <div class = "split"><span>Автор: </span>
    <input class="form-control" [(ngModel)]="book.author" placeholder="author" size = "30">
  </div>
  <div class = "split"><span>Год написания: </span>
    <input class="form-control"[(ngModel)]="book.year" placeholder="year" size = "4">
  </div>
  <div class = "split"><span>Сюжет: </span>
    <textarea class="form-control"[(ngModel)]="book.description" placeholder="description" rows="8" cols="110"></textarea>
  </div>
</div>

<button class = "btn" (click)="goBack()">Вернуться назад</button>
